<ion-view view-title="Control">
  <ion-content class="has-header" padding="true">
    <form class="list" id="controlTabControl-form1">
      <ion-toggle id="controlTabDefaultPage-toggle1" toggle-class="toggle-balanced">Water pump</ion-toggle>
      <ion-toggle id="controlTabDefaultPage-toggle2" toggle-class="toggle-balanced">Ventilation</ion-toggle>
      <ion-toggle id="controlTabDefaultPage-toggle3" toggle-class="toggle-balanced">Ilumination</ion-toggle>
      <i class="icon ion-ios-sunny-outline"></i>
      <input type="range" name="light" min="0" max="255" value="33">
      <i class="icon ion-ios-sunny"></i>
    </form>
  </ion-content>
</ion-view>
