<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Sensors Tab -->
  <ion-tab title="Sensors" icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" href="#/tab/sensors">
    <ion-nav-view name="tab-sensors"></ion-nav-view>
  </ion-tab>

  <!-- Control Tab -->
  <ion-tab title="Control" icon-off="ion-android-options" icon-on="ion-android-options" href="#/tab/control">
    <ion-nav-view name="tab-control"></ion-nav-view>
  </ion-tab>

  <!-- Reports Tab -->
  <ion-tab title="Reports" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>


</ion-tabs>
